In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [6]:
#map  applies given funstion to provided list of varables

In [7]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [8]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [17]:
#lamda
square =lambda num: num**2

In [18]:
square(9)

81

In [20]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25]

In [21]:
def check_even(num):
    return num % 2 == 0

In [22]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [25]:
list(filter(lambda num:num%2==0,nums))

[0, 2, 4, 6, 8, 10]

In [26]:
names = ['Andy','eve','sally']

In [29]:
list(map(lambda n:n[::-1],names))

['ydnA', 'eve', 'yllas']